@media only screen and (max-width: 599px) {
    .h1_0{
        width: 340px;
        margin: 0 auto;
    }
    .h1_1{
        width: 340px;
        height: 340px;
    }
    .h1_2{
        width: 340px;
        height: 340px;
        text-align: center;
        font-size: 30px;
    }
}

@media only screen and (min-width: 600px) {
    .h1_0{
        display: flex;
        justify-content: center;
    }
    .h1_1{
        width: 340px;
        height: 340px;
    }
    .h1_2{
        align-self: center;
        width: 340px;
        height:auto;
        font-size: 30px;
        text-align: center;
    }
}
