
@media only screen and (max-width: 599px) {
    .h1_0{
        display: flexbox;
    }
    .h1_1{
        width: 350px;
        height: 350px;
        margin: auto;
    }
    .h1_2{
        width: 3500px;
        height: 350px;
        margin: auto;
    }
}

@media only screen and (min-width: 600px) {
    .h1_0{
        display: flex;
        justify-content: center;
    }
    .h1_1{
        width: 350px;
        height: 350px;
    }
    .h1_2{
        width: 350px;
        height: 350px;
    }
}
p {
    font-size: 30px;
}